.over_text{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50px;
    white-space: nowrap;
}
.btn_cs{
    padding: 10px 5rem;
}
#prefer_fav_dropdown{
    width: 30px;
}
.fixed_width{
    width: 30px;
}
