h2.cconfirmation {
    margin-bottom: 29px !important;
    display: block;

}
.spacing{
    padding-right: 0px; 
    padding-left: 0px;
}
#show_confirmation p {
    padding: 20px 60px;
}
.tripsbtn{
    font-weight: 600;
}
.form-control{
    padding-top:22px;
    padding-bottom: 23px;
}
.adddocbtn{
    padding-left: 23px; 
    padding-right: 23px;
}
#banner button{
     margin-left: 0px !important;
}
.btn-padding{
    padding:12px 27px  
}
.button-spacing{
    padding-top:10px;
    padding-bottom: 10px;
}
.button-black{
    background: black;
}
