.tripsbtn{
    font-weight: 600;
}
.spacing{
    padding:0.75rem 1rem;
}
.form-control{
    height:auto
}
.btnSpacing{
    padding-top:11px;
    padding-bottom: 11px;
}
.btndelete{
    padding: 0.75rem 1rem;
    border-color: #3c753f !important;
}
.favname{
    font-size: 30px;
}

.button-black:hover{
    color:white
}