<!-- Main Container -->
<div class="container page-container-xl">

    <!-- Page Header -->
    <div class="page-header d-flex justify-content-between">
        <!-- Page Title -->
        <div class="page-main-title">
            <h3 class="title">Trip History</h3>
        </div>
        <!-- End Page Title -->
        
        <!-- Action Toolbar -->
        <div class="page-header-action-toolbar">
            <!-- Export CSV -->
            <button class="tab-btn mr-10 float-left">Export CSV</button>
            
            <!-- Search Form -->
            <div class="table-search-form">
                <form method="post" action="#">
                    <div class="form-group-theme search-form-group">
                        <input type="text" name="" class="form-control-theme" placeholder="Search">
                        <span class="search-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>
                    </div>
                </form>
            </div>
            <!-- End Search Form -->
        </div>
        <!-- End Action Toolbar -->
    </div>
    <!-- End Page Header -->
    
    <div class="page-main-content">
        <div class="page-main-tabs">
            <ul class="nav nav-tabs" id="tabs-trip-history" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="regular-tab" data-toggle="tab" href="#regular" role="tab" aria-controls="Regular" aria-selected="true">Regular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Explore-tab" data-toggle="tab" href="#explore" role="tab" aria-controls="Explore" aria-selected="false">Explore</a>
                </li>
            </ul>
            <div class="tab-content" id="trip-history-content">
                <div class="tab-pane fade show active" id="regular" role="tabpanel" aria-labelledby="regular-tab">
                    <div class="table-responsive table-layout-theme">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Trip ID</th>
                                    <th scope="col">Users</th>
                                    <th scope="col">Pickup Date &amp; time</th>
                                    <th scope="col">Pickup Location</th>
                                    <th scope="col" class="th-sm">Type</th>
                                    <th scope="col" class="th-sm">Status</th>
                                    <th scope="col" class="th-sm">Share</th>
                                    <th scope="col">Payment Method</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="explore" role="tabpanel" aria-labelledby="explore-tab">
                    <div class="table-responsive table-layout-theme">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Trip ID</th>
                                    <th scope="col">Users</th>
                                    <th scope="col">Pickup Date &amp; time</th>
                                    <th scope="col">Pickup Location</th>
                                    <th scope="col" class="th-sm">Type</th>
                                    <th scope="col" class="th-sm">Status</th>
                                    <th scope="col" class="th-sm">Share</th>
                                    <th scope="col">Payment Method</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                                <tr>
                                    <th scope="row">13</th>
                                    <td>Jerome M. Wallin</td>
                                    <td>June 14, 2021 <span class="d-block">2:35 PM</span></td>
                                    <td>1996 Steinway Street, NY 11105</td>
                                    <td>Type</td>
                                    <td>Pending</td>
                                    <td>$ 00.00</td>
                                    <td>123456789</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!-- End Main Container -->
