#forget {
    color: #6b6b6b;
    }
    
.popup-main-content .signup_btn, .signup_btn {
    margin-top: 13px;
    position: relative;
    float: left;
    width: 80%;
    background: #1f8dc6;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    padding: 15px 0px 15px 0px;
    background-image: linear-gradient(90deg, #234369 0%, #16243f 36%, #080514 100%);
}
