<div class="container page" id="Trips">
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">

                    <div class="col-md-10">

                        <a class="btn btn-outline-primary btn-md tripsbtn " data-hover="assets/images/caricongrey.png"
                            data-unhover="assets/images/caricon.png" style="float:left; margin-right:20px;"
                            [routerLink]="['/', 'corporate', 'listCards']" id="drivertripsbtnicon">My Cards<img
                                src="assets/images/document1.png" style="padding-left:10px;" id="drivercariconbtn"></a>

                        <a class="btn btn-outline-primary btn-md tripsbtn " *ngIf="driverDetails.subtype_id == 1"
                            data-hover="images/caricongrey.png" data-unhover="assets/images/caricon.png"
                            style="float:left; margin-right:20px;" [routerLink]="['/', 'corporate', 'bank-details']"
                            id="drivertripsbtnicon">Bank Details<img src="assets/images/document1.png"
                                style="padding-left:10px;" id="drivercariconbtn"></a>

                        <a class="btn btn-outline-primary btn-md tripsbtn " data-hover="images/caricongrey.png"
                            data-unhover="images/caricon.png" style="float:left; margin-right:20px;"
                            [routerLink]="['/', 'corporate', 'documents']" id="drivertripsbtnicon">My Documents<img
                                src="assets/images/document1.png" style="padding-left:10px;" id="drivercariconbtn"></a>

                        <a class="btn btn-outline-primary btn-md tripsbtn " data-hover="images/caricongrey.png"
                            data-unhover="images/caricon.png" style="float:left; margin-right:20px;"
                            [routerLink]="['/', 'corporate', 'staff']" id="drivertripsbtnicon">My Staff<img
                                src="assets/images/document1.png" style="padding-left:10px;" id="drivercariconbtn"></a>

                        <a class="btn btn-outline-primary btn-md tripsbtn active-page"
                            style="float:left; margin-right:20px;" [routerLink]="['/', 'corporate', 'settings']"
                            id="drivertripsbtnicon">More <i
                                style=" font-size: 21px;    vertical-align: middle;    margin-left: 5px;"
                                class="fa fa-cog"></i></a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Tables
          ================================================== -->
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
            </div>
            <table class="table table-responsive trips desktop">
                <thead>
                    <tr class="frow">
                        <th scope="col">Setting Type </th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Rider Card Payment</td>
                        <td>Payment of use is the rider card</td>
                        <td><label class="switcher">
                                <input type="checkbox" [class.checked]="riderCardEnabled"  (click)="changeRiderSetting($event.target.checked)" 
                                    [checked]="riderCardEnabled" [value]="riderCardEnabled"/>
                                <span class="slidercheck"><span class="off">OFF</span><span class="on">ON</span></span>
                            </label></td>
                    </tr>
                    <tr>
                        <td>Corporate Card Payment</td>
                        <td>Payment of use is the corporate card</td>
                        <td>
                            <label class="switcher">
                                <input type="checkbox" [class.checked]="corpCardEnabled"  (click)="changeCorpSetting($event.target.checked)" 
                                    [checked]="corpCardEnabled" [value]="corpCardEnabled" />
                                <span class="slidercheck"><span class="off">OFF</span><span class="on">ON</span></span>
                            </label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>