.navbar{
    // padding: 0px 6px !important;
    // padding-bottom:0px !important;
}
.myprofile{
    font-size: 16px;
}
.input-field{
    font-size: 16px;
}
.pac-container{ z-index: 99 !important;}
a.navbar-brand img{
    height:30px;
    padding-left: 30px;
}

.navbar-divider{
    padding-top: 6px!important;
}

.new-ride {
    font-size: 12px !important;
    padding: 5px !important;
    margin-right: 14px !important;
    margin-top: 2px !important;
}

.rclosebtn{
    margin-right: -45px;
}